.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(25, 26, 21, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 480px;
  max-height: 90vh;
  border-radius: 30px;
  background-color: var(--main-white);
  padding:  64px;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  transition: opacity var(--main-transtion);
  color: var(--main-text);
}

.closeButton:hover {
  opacity: 0.7;
}

.modalTitle {
  font-weight: 500;
  text-align: center;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 30px;
}

.modalText {
  text-align: center;
  color: rgba(25, 26, 21, 0.5);
  margin-bottom: 40px;
  line-height: 1.5;
}

.confirmBtn {
  margin: 0 auto;
  padding: 16px;
  border-radius: 30px;
   max-width: 200px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
  color: var(--main-white);
  transition: background-color var(--main-transtion);
}

.confirmBtn:hover,
.confirmBtn:focus,
.confirmBtn:active {
  background-color: var(--dark-green);
}