.section {
padding: 64px 0 100px;
display: flex;
flex-direction: column;
align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 32px;
   align-items: center;
   justify-content: center;
   margin-bottom: 64px;
}

.loadMoreBtn {
    padding: 14px 48px;
    font-weight: 500;
color: var(--main-white);
border-radius: 30px;
background-color:var(--green);
}

.loadMoreBtn:hover,
.loadMoreBtn:focus,
.loadMoreBtn:active {
  background-color : var(--dark-green);
}

.emptyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
  padding: 0 20px;
}

.emptyImageWrapper {
  margin-bottom: 24px;
}

.heartIcon {
  color: var(--green);
}

.emptyTitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
}

.emptyText {
  max-width: 500px;
  line-height: 1.5;
}