.form {
  display: flex;
  flex-direction: column;
}

.inputWrapper {
  position: relative;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 40px;
}

.input {
  padding: 16px 18px;
  width: 100%;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  outline: none;
  background-color: transparent;
  transition: border-color var(--main-transtion);
}

.input::placeholder, .textarea::placeholder {
  color: var(--main-text);
}

.input:focus, .textarea:focus {
  border-color:var(--green);
}

.errorInput {
  border-color: #e03636;
}

.errorText {
  position: absolute;
 bottom: -15px;
  left: 4px;
  font-size: 11px;
  color: #e03636;
}

.submitButton {
  background-color: var(--green);
  padding: 16px 0;
  color: var(--main-white);
  border-radius: 30px; 
  font-weight: 500;
  transition: background-color var(--main-transtion);
}

.submitButton:hover,
.submitButton:focus,
.submitButton:active {
  background-color : var(--dark-green);
}

.rowContainer {
  display: flex;
  gap: 8px;
}

.rowContainer > div {
  flex: 1;
}

.clockIcon {
  position: absolute;
  top: 16px;
  right: 18px;
  color: var(--main-text);
  pointer-events: none;
}

.textarea {
  height: 116px;
  padding: 16px 18px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  outline: none;
  resize: none;
  width: 100%;
  background-color: transparent;
}

.timeContainer {
  position: relative;
  cursor: pointer;
}

.timeInput {
  cursor: pointer;
}

.timeDropdown {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  background-color:var(--white);
  border-radius: 12px;
  box-shadow: 0 20px 69px 0 rgba(0, 0, 0, 0.07);
  padding: 16px;
  z-index: 10;
}

.timeDropdownTitle {
  font-weight: 500;
line-height: 1.5;
  margin-bottom: 16px;
}

.timeList {
  max-height: 108px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.timeList::-webkit-scrollbar {
  width: 6px;
}

.timeList::-webkit-scrollbar-thumb {
  background-color: rgba(18, 20, 23, 0.1);
  border-radius: 3px;
}

.timeItem {
 color: rgba(25, 26, 21, 0.3);
  cursor: pointer;
  font-weight: 500;
  padding: 2px 0;
  transition: color var(--main-transtion);
  text-align: center;
}

.timeItem:hover,
.selectedTime {
  color: var(--main-text);
}